# --- Secrets & Local Environments (ASLA GİTMEYECEKLER) ---
**/.env*
**/*.env*
**/*.env
infra/.env
!.env.example
!**/.env.example

# --- Certificates & RSA Keys ---
*.pem
*.key
*.crt
*.der
*.pfx
*.p12
**/certs/
!**/certs/.gitkeep

init-databases.sql
docker-compose.override.yml

# --- Gradle & Build Outputs ---
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# --- IDEs & Editors ---
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.vscode/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Temp & Docs ---
auth-service/HELP.md
*.log

# --- Frontend / Next.js ---
**/node_modules/
**/.next/
**/.pnp
**/.pnp.*
**/coverage/
*.tsbuildinfo
next-env.d.ts
.DS_Store